

body.pictureofday-body {
  background: none;
 
}
.picture-title{
  color : rgb(185, 181, 181);
  text-align: center;
  font-size: 2em;
}
.picture-explanation{
  color: white;
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;

}
.picture-image{
  margin-top: 3%;
  margin-left: 38%;
  width: 25%;
  height: 25%;
  border-radius: 20px;



}