#solar-system-container {
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
  }

  .planet-info {
    position: fixed;
    top: 70px;
    left: 100;
    bottom: 0;
    width: 30%; /* You can adjust this value to control the width of the info window */
    background-color: rgba(0, 0, 0, 0.8); /* Use a semi-transparent black background for the info window */
    color: white; /* Set text color to white */
    padding: 20px;
  }

  .picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Set the width to 100% to fill the container */
    height: 100%; /* Set the height to 100% to fill the container */
  }
  
  .picture img {
    max-width: 300px; /* Adjust the maximum width as needed */
    max-height: 300px; /* Adjust the maximum height as needed */
      margin-bottom: 300px;
    }
  
  
  

  
  